venv/
__pycache__/
*.pyc
.DS_Store
.idea
.vscode
.env
logs/
*.log
data/
output/
*.sqlite3
*.db
*.egg-info/
dist/
build/
*.tar.gz
*.whl
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.ipynb_checkpoints/
migrations/
*.iml
*.swp
node_modules/
*.tmp
.env.local
.env.development